body {
    background-color:rgba(8, 8, 46, 0.945);
}
header {
    display:flex;
    justify-content: center;
}
header img {
    width:5rem;
}

h1{
    color:rgb(239, 222, 191);
}

#main{
    width:70%;
    margin:0 auto;
    background-color:rgb(114,148,127);
}
